services:
  harmonyspeech-ui:
#    build:
#      context: ./frontend
#      dockerfile: Dockerfile.speech-engine
    image: harmonyai/harmonyspeech-ui:latest
    pull_policy: always
    ports:
      - "8080:80"
    depends_on:
      - harmonyspeech-engine

  harmonyspeech-engine:
#    build: ./docker/cpu
    image: harmonyai/harmonyspeech-engine-cpu:latest
    pull_policy: always
    env_file: ./.env
    volumes:
      - ./config.yml:/app/harmony-speech-engine/config.yml
      - ./cache:/app/harmony-speech-engine/cache
    ports:
      - "12080:12080"
