pydantic
fastapi
uvicorn
loguru
prometheus_client
psutil
packaging
numpy
numba
huggingface_hub
cached_path
safetensors
scipy
librosa
h5py
inflect
gruut[de,es,fr]
cn2an
pypinyin
jieba
transformers
g2p_en
g2pkk
matplotlib
anyascii
jamo
webrtcvad
pyyaml
pydub
mecab-python3
unidic-lite
pykakasi
unidecode
soundfile
faster-whisper>=1.1.0
eng_to_ipa
fugashi
eunjeon
nltk
# Downgrade ctranslate, see: https://github.com/SYSTRAN/faster-whisper/issues/1086
ctranslate2<=4.4.0