pydantic
fastapi
uvicorn
loguru
prometheus_client
torch
psutil
packaging
numpy
numba
huggingface_hub
safetensors
scipy
librosa
h5py
inflect
gruut
cn2an
pypinyin
jieba
transformers
g2p_en
g2pkk
matplotlib
anyascii
jamo
webrtcvad
pyyaml